*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: var(--font-size);
  font-family: 'Roboto', sans-serif;
  padding-top: 55px;
  background-color: var(--background-light);
}
.app {
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
.search {
  width: 71%;
  margin: 4rem 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #000000;
  -webkit-box-shadow: 5px 5px 7px #030303, -5px -5px 7px #606061;
  box-shadow: 5px 5px 7px #020202, -5px -5px 7px #595a5a;
}
@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }
}
