*{
  margin: 0;
}

body{

  padding-top: 0px;
}
/* form input{
  padding: 15px;
  border-radius: 10px;
  
}
form{
  text-align: center;
  margin-top: 80px;
} */

.search {
  width: 50%;
  margin: 6rem 0 3rem;
  display: flex;
  margin-right:auto;
  margin-left:auto;
  align-items: center;
  justify-content: center;
  padding: .5rem .75rem;
  border-radius: 3rem;
  background: white;
  -webkit-box-shadow: 5px 5px 7px #030303, -5px -5px 7px #606061;
  box-shadow: 5px 5px 7px #020202, -5px -5px 7px #595a5a;
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;
  outline: none;
  color: black;
  background: white;
}

.container{
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;


  /* width: 80%;
  margin:25px auto;
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  grid-gap: 2rem; */
}

.card{
  width: 310px;
  height: 460px;
  margin: 1.5rem;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  background-color: #020202;
  box-shadow:  16px 24px 24px 24px rgba(0, 0, 0, 0.1);
}
.card img{
  width: 100%;
  height: 100%;
  
}
.content img{
  width: 100%;
  height: 600px;
}  
.content .inner-content{
  background-color: rgba(49, 48, 48, 0.8);
  color: white;
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  position: absolute;
  top:45%;
  left:50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 5px 5px rgba(0,0,0,05);
}
.recipe-details{
  width: 80%;
  margin:2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ingredients,.instructions{
  flex-basis: 50%;
  text-align: justify;
}
.ingredients h4{
  margin-top: 1.5rem;
  font-weight: bold;
}
.video{
  width: 50%;
  margin: 3rem auto;
}
.indexContainer{
  display: flex;
  margin: 2.5rem 0;
}
.numBox {
  width: 50px;
  height: 50px;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0 5px 0 5px;
}


.nav {
  background-color: black;
  color: white;
  display:flex;
  justify-content: space-between;
  align-items: stretch;
  position: sticky;
  top: 0;
 
}

.site-title {
  font-size: 2.3rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1.45rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

.home{
  right: 30%;
  padding-top: 10%;
  color: black;
  display:flex;
  justify-content: center;
  align-items: center;
  
}
.home h1{
 
  align-items: center;
  font-size: 800%;
}
.home p{
 display: flex;
 right: inherit;
 margin-top: 15%;
 font-size: 200%;
 align-items: center;
}


  

